# Api Keys
.env

# User data --> later to be stored in bucket (cloud)

# Python modules lies here
venv/

# Cache data of Python -->
website_scraping/__pycache__/
db_store_n_query/__pycache__/

# All data of users...
data/
